root = true

#Todos arquivos Kotlin do repo serao cobertos.
[*.{kt,kts}]

charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
max_line_length = 120

# IntelliJ Kotlin formatting (válidos)
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_imports_layout = *,java.**,javax.**,kotlin.**,^
ij_kotlin_line_break_after_multiline_when_entry = true
ij_kotlin_keep_indents_on_empty_lines = true

# Não usar importações com wildcard
ij_kotlin_packages_to_use_import_on_demand = unset